@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sxeigu');
  src:  url('../fonts/icomoon.eot?sxeigu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sxeigu') format('truetype'),
    url('../fonts/icomoon.woff?sxeigu') format('woff'),
    url('../fonts/icomoon.svg?sxeigu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-btn:before {
  content: "\e900";
}
.icon-arrow-top:before {
  content: "\e901";
  color: #fff;
}
.icon-CardList:before {
  content: "\e902";
}
.icon-CashCoin:before {
  content: "\e903";
}
.icon-Chat:before {
  content: "\e904";
}
.icon-ChatText:before {
  content: "\e905";
}
.icon-CheckCircle:before {
  content: "\e906";
}
.icon-ClipboardCheck:before {
  content: "\e907";
}
.icon-Coin:before {
  content: "\e908";
}
.icon-DiamondHalf:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
  color: #fff;
}
.icon-Eye:before {
  content: "\e90b";
}
.icon-GraphUp:before {
  content: "\e90c";
}
.icon-HandThumbsUp:before {
  content: "\e90d";
}
.icon-hours:before {
  content: "\e90e";
  color: #fff;
}
.icon-instagram:before {
  content: "\e90f";
  color: #fff;
}
.icon-location .path1:before {
  content: "\e910";
  color: rgb(255, 255, 255);
}
.icon-location .path2:before {
  content: "\e911";
  margin-left: -0.7041015625em;
  color: rgb(66, 66, 66);
}
.icon-Magic:before {
  content: "\e912";
}
.icon-pencil:before {
  content: "\e913";
}
.icon-People:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
  color: #fff;
}
.icon-vector:before {
  content: "\e916";
}
.icon-vk_alt:before {
  content: "\e917";
  color: #fff;
}
